@import "./variables";
.header {
  padding-top: 40px;
   position: sticky;
    background-color: #191919;
    top: 10px;
    left: 0;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    // .logo {
    //   width: 97px;
    //   height: 60px;
    //   background: $textgradient;
    //   background-clip: text;
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    //   text-align: center;

    //   div {
    //     width: 97px;
    //   }
    //   span {
    //     font-size: 37px;
    //     font-weight: 700;
    //   }
    //   .number {
    //     font-size: 37px;
    //   }
    //   p {
    //     font-size: 22px;
    //     font-weight: 700;
    //     width: 97px;
    //   }
    // }

    .header-links {
      display: flex;
      column-gap: 51px;
      align-items: center;

      .nav-list {
        display: flex;
        column-gap: 55px;

        li {
          a {
            color: $secondarycolor;
            font-size: 20px;
            position: relative;
            font-weight: 500;

            &::after {
              content: "";
              width: 0;
              position: absolute;
              height: 1px;
              background-color: #fff;
              bottom: -2px;
              left: 0;
              transition: 0.4s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
      .social-media-links {
        column-gap: 22px;
        display: flex;

        a {
          transition: transform 0.4s ease;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    .burger-menu {
      transform: rotate(90deg);
      display: none;
      letter-spacing: 2px;
      font-size: 40px;
      color: #fff;
    }
  }
}
@media (max-width: 768px) {
  .header {
    .header-content {
      .header-links {
        .nav-list {
          display: none;
        }
      }
      .burger-menu {
        display: block;
      }
    }
  }
}
@media(max-width: 500px){
     .header {
    .header-content {
      .header-links {
        display: none;
      }
    }
}
}
